<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>
      <h2 class="mt-3">New book</h2>

      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@books.user) do %>
            <%= image_tag @books.user.get_profile_image, size:"100x100" %><br>
            <%= @books.user.name %>
            <% end %>
          </td>
          <td><%= link_to @books.title, @books %></td>
          <td><%= @books.body %></td>
          <% if @books.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@books), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @books, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
<!--いいね機能-->
          <td id="favorite_buttons_<%= @books.id %>">
            <%= render "favorites/favorite", book: @books %>
          </td>
          <td id="comment_count"><%= render "book_comments/count", books: @books %></td>
        </tr>
      </table>
<!--いいねの色を変えたい場合-->
<!--class: "text-danger"だとブートストラップの色で指定できる-->
<!--style: "color: red;"だといろんな色を指定できる-->
<!--コメント機能-->
      <div id="book_comments">
        <%= render "book_comments/show", books: @books %>
      </div>
      <div id="comment_form">
        <%= render "book_comments/form", books: @books, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>