<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/1c45b22aa5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main>
      <!--検索フォームはmainタグ内に置かないと検索されない-->
      <% if user_signed_in? %>
      <div class="d-flex pt-1">
        <div class="ml-auto">
          <%= render 'searches/search' %>
        </div>
        <div class="mr-auto ml-3">
          <%= render 'tagsearches/tagsearch' %>
        </div>
      </div>
      <% end %>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
